<div class="modal-header">
    <h1 class="modal-title">{{groupDetail.name}}</h1>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <p><b>{{groupDetail.subject}}</b></p>
            <p>{{groupDetail.description}}</p>
            <p>Created by {{groupDetail.creator.name}} {{groupDetail.creator.lastname}}</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive img-thumbnail hvr-grow" ng-src="{{groupDetail.photo}}">
        </div>
    </div>

    <div class="row">
        <h5><b>Members ({{totalMembers}})</b></h5>
        <div class="col-md-3 hvr-grow" ng-repeat="inThisGroup in membersInGroup">
            <div class="ingroup-styling">
                <img class="img-pending-member" ng-src="{{inThisGroup.member.photo}}">
                <p style="font-size: 9px"><a href="">{{inThisGroup.member.name}} {{inThisGroup.member.lastname}}</a></p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-danger" ng-click="Close()">Close</button>
</div>


<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>